<div class="password-checker">
  <input type="password" (input)="onPasswordInput($event)" />
  <div class="strength-indicator">
    <div #indicator1 [ngClass]="{'gray': strength === 'empty', 'red': strength === 'short' || strength === 'easy', 'yellow': strength === 'medium', 'green': strength === 'strong'}"></div>
    <div #indicator2 [ngClass]="{'gray': strength === 'empty' || strength === 'easy', 'red': strength === 'short', 'yellow': strength === 'medium', 'green': strength === 'strong'}"></div>
    <div #indicator3 [ngClass]="{'gray': strength !== 'strong', 'red': strength === 'short', 'green': strength === 'strong'}"></div>
  </div>
</div>
