.password-checker {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.password-input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.strength-indicator {
  display: flex;
  width: 170px;
  margin-top: px;
  justify-content: space-between;
}

.strength-indicator div {
  width: 30%;
  height: 10px;
  border-radius: 5px;
  margin-top: 3px;
}

.gray {
  background-color: gray;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
